 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 100px 0;
}

.btn-frontend:hover {
    background-color: rgb(173, 231, 231);
}

h1{
    color: #262D3D;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.divider{
    grid-column-start: 1;
    grid-column-end: 12;
    margin: 30px 0;
    border-bottom: 1px solid #cccccc;
}
